.color-blue {
	color:blue;
}

.select-name {
	margin-top:20px;
	width:100px;
}



.select-attri {
	margin:10px;
	margin-top:30px;
	width:100px;
}

.select-weapon {
	margin:10px;
	margin-top:30px;
	width:100px;
}


.font-indieflower {
	font-family: 'Indie Flower', cursive;
}

#yourName {
	margin-top:30px;
}

#selected-attri {
	margin:margin-top:30px;
}

.select-role {
	margin:10px;
	margin-top:30px;
	width:100px;
}
}