.color-blue {
	color:blue;
}

<<<<<<< HEAD
.select-name {
	margin-top:20px;
	width:100px;
}



.select-attri {
	margin:10px;
	margin-top:30px;
	width:100px;
}

.select-weapon {
	margin:10px;
	margin-top:30px;
	width:100px;
}

=======
.font-indieflower {
	font-family: 'Indie Flower', cursive;
}
>>>>>>> ba89b179f4802f28b04934ad4790bb784343ea4c
